@use 'sass:math';

.pokeinfo-iframe {
  border: none;
  height: 100%;
  width: 100%;
  position: sticky;
  top: 0;
  transition: all 0.35s ease-out;
}

.center-on-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.iframe-toggle {
  position: sticky;
  top: 25px;
  left: 0;
  margin: 0;
  z-index: 1;
}

/*  
- create container with relative positioning
- position button top 0 right 0 then translate up 50% 
  so its center is centered on container 
- position pop up the same but with left 0 
- set margin to desired triangle size 
- add triangle
- set pop up to appear when button is focused
  */

@keyframes cssAnimation {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes cssDisappear {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}
$triangle_size: 12px;
$border_width: 2px;
$size: 25px;
.pop_over_text {
  position: sticky;
  top: $size;
  border-radius: 3px;
  left: 0;
  margin-left: $triangle_size + $size;
  z-index: 1;
  width: 150px;
  margin-left: $size + $triangle_size;
  background-color: white;
  animation: cssAnimation 0s ease-in 5s forwards,
    cssDisappear 0s ease-in 5s forwards;
  padding: 0 1rem;
  border: $border_width solid black;
}
.pop_over_text .pop_over_triangle {
  position: absolute;
  top: $border_width * -1;
  left: $triangle_size * -1;
  width: 0;
  height: 0;
  border-top: $triangle_size solid transparent;
  border-bottom: $triangle_size solid transparent;

  border-right: $triangle_size solid black;
}
$inner_triangle_size: $triangle_size - $border_width;
.pop_over_inner_triangle {
  position: absolute;
  top: 0;
  left: $inner_triangle_size * -1;
  width: 0;
  height: 0;

  border-top: $inner_triangle_size solid transparent;
  border-bottom: $inner_triangle_size solid transparent;
  border-right: $inner_triangle_size solid white;
}
